.heading {
  display: flex;
}
.header-link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}
.active-link {
  &::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--second-color);
    border: 1px solid var(--second-color);
    margin-bottom: -1.5px;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}
.half-logo {
  color: var(--second-color);
}
.header-navigation {
  display: flex;
  align-items: center;
}
.nav-head {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-color);
  display: flex;
  .link {
    color: var(--secondary-text-color);
    &:hover {
      color: var(--second-color);
    }
  }
  li:not(:last-child) {
    margin-right: 50px;
  }
}

.for-mailto,
.for-tel {
  fill: currentColor;
  align-items: center;
  display: inline-flex;
  margin-right: 10px;

  &:hover,
  &:hover {
    fill: currentColor;
  }
}
.post-and-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  margin-left: auto;
  margin-right: 40px;
  li:not(:last-child) {
    margin-right: 50px;
  }
  .link {
    color: var(--primary-text-color);
    &:hover {
      color: var(--second-color);
    }
  }
}
