html {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
}

/**Небольшой RESET после нормализации*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.link {
  text-decoration: none;

  transition-property: color, fill;
  transition-duration: var(--timing);
  transition-timing-function: var(--cubik);
  &:hover {
    color: var(--second-color);
    fill: var(--second-color);
  }
}

.list {
  list-style: none;
}

/**Общий контейнер для элементов макета**/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--light-text-color);
  letter-spacing: 0.06em;
  background-color: var(--second-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  margin-top: 30px;
}
